body{
    background-color: rgb(133, 48, 48);
    padding-top: 40px;
}
.first{
    width:80%;
    /* height: 600px; */
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    flex-direction: column; */
    border-radius: 240px 10px 10px 10px;
    max-width: 600px;
    min-width: 300px;
}

.header{
    margin-left: 130px;
    text-align: center;
}
.header h1{
    font-size: 3em;
    padding-top: 15px;
    margin-bottom: -10px;
}
.right{
    float: right;
}
h2{
    text-align: center;

}
#you{
margin-left: 30px;
}
h3{
    display: inline;
    margin:0 5px 0 5px;
}
.coffee-menu p{
margin-left: 15px;
margin-right: 15px;
}

.divider{
border:1px dashed rgb(137, 86, 19);
}

h4:not(.number){
margin-left: auto;
margin-right: auto;
text-align: center;
max-width: 50%;
}

.number{
margin-left: auto;
margin-right: auto;
text-align: center;
padding-bottom: 10px;
}